@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmFrontend.cshtml";
}
  @Styles.Render("~/Styles/Bootstrap.css", "~/Styles/Bootstrap.min.css")
  @Styles.Render("~/Styles/Style.css")
  @Styles.Render("~/Styles/Style2.css")

@using (Html.BeginForm())
{
    <div class="BlogsContent">
        
        <div class="CreateSite">
                    <a href="/Blog/Create/" class="btn btn-primary"> Create new Blog</a>
        </div><br>

       <fieldset>
        
           <legend>Blogs</legend><br>

           @foreach (var item in ViewBag.Blogs)
           {
                 
               <div class="BlogContainer" onclick=funciom_ShowContent()>  
                <label>@item.Title</label> <label class="BlogDate">@item.Date</label> <a href="/Blog/Edit/@item.id" class="btn btn-warning"> Edit Blog</a><a href="/Blog/Delete/@item.id" class="btn btn-danger"> Delete Blog</a>
                <br><br><br>
                <textarea rows="15"  class="form-control"  id="Content" name="Content" disabled >@item.Content</textarea>  
                
               @*<button type="button" class="btn btn-default" onclick= "funciom_HideContent()" > Hide </button>*@
               </div>
               <br>
               
           }


       </fieldset>
    </div>
}    



@*<script src="/Scripts/jquery.js" ></script>
<script type="text/javascript"> 

    //$(document).ready(function () {
    //    $(".BlogContainer").height("50");
    //});

    //$(document).ready(function () {
    //    $(".BlogContainer").css("height", "auto");
    //});

    function funciom_ShowContent()
    {
        $(".BlogContainer").height("auto");
        
        

    }
    function funciom_HideContent() {
        $(".BlogContainer").height(50);



    }
</script>*@
